.inner {
  margin: 1px;
  border: 4px solid black;
  border-radius: 4px;
  background: white;
  padding: calc(20px * var(--scale));
  line-height: calc(25px * var(--scale));
}

.outer {
  position: relative;
  height: calc(100px * var(--scale));
  background: white;

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
