.container {
  position: relative;
}

.pin {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellContent {
  display: flex;
  justify-content: center;
  align-items: center;

  &.road {
    background: greenyellow;
  }

  &.wall {
    background: brown;
  }
}

.cell {
  position: relative;

  .cellContent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.map {
  display: table;

  .row {
    display: table-row;

    .cell {
      display: table-cell;
    }
  }
}

.withOffset {
  position: relative;
  transition: left 0.3s, top 0.3s;
}
